<form action="/days" method="GET">

    <table class="shiftTable">
        <h1>Shifts Timetable</h1>
        <tr>
            {{#each weekdays}}
            <th>
                {{week_days}}
            </th>
            {{/each}}
        </tr>

        <tr>
            <td>
                <ul>
                    {{#each waiter}}
                    {{waiter_name}}
                    {{/each}}
                </ul>
            </td>
        </tr>
    </table>
</form>